<!DOCTYPE html>
<html>
<head>
   <title>Yasuo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %> <!-- ※この行は各ページを表示するための、最初から存在する。 -->
  </div><!-- /.container -->
</body>
</html>